.gamepage h1{
    justify-content: left;
    display: flex;
    margin-left: 50px;
    color:floralwhite;
    text-decoration: underline yellowgreen;
    font-size: 300%;
}

.gamepage{
    display:block;
    justify-content: center;
    text-align: center;
}

.reviewButton{
    margin-right: 50px;
    height: 40px;
    width: 8%;
    cursor: pointer;
	outline: none;
	border: none;
	border-radius: 10px;
	font-size: 25px;
	font-weight: bold;
	color: #fffbf5;
	background-color: yellowgreen;
}

.preReview{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.trailercomp{
    margin-top: 50px;
    border: 3px solid greenyellow;
    border-radius: 20px;
    width:50%;
    height: 450px;
    margin-left: 450px;
}
