.login{
    display: flex;
	width: 40%;
	height: 40%;
	margin: 200px 500px 200px 500px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 3px solid ;
    border-radius: 30px;
    border-color: yellowgreen;
    padding: 100px 100px 100px 100px;
	background-image: url("123.jpg") ;
}

.login label{
	color: yellowgreen;
}


.loginTitle{
    margin-bottom: 80px;
}

.loginForm{
    width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login h1{
	color: yellowgreen;
}

.loginBtn{
	width: 80%;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #fffbf5;
	background-color: yellowgreen;
	margin-bottom: 15px;
	margin-top: 30px;
}

.logininput{
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 15px;
} 

.switchlogin{
	width: 90%;
    border: 3px solid ;
    border-radius: 50px;
    border-color: white;
    padding: 5px;
}

.switchlogin:hover{
	color: yellowgreen;
}